/**
 * Flexbox
 */

$columns: 12;

.container {
  // Display
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  // Modifiers
  
  &.fluid {
    justify-self: stretch;
    align-self: strech;
  }
  &.dir-col {
    flex-direction: column;
  }
}

.col {
  flex-basis: 100%;
  flex: 1;
  width: auto;
  overflow: wrap;
  align-self: flex-start;
  justify-self: stretch;

  @for $c from 1 through $columns {
    &-#{$c} {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: (100 / ($columns / $c)) * 1%;
      width: (100 / ($columns / $c)) * 1%;
    }
  }
}

.modal {
  @extend .col;
  flex-grow: 0;
  flex-basis: (100 / ($columns / 5) * 1%);
  width: (100 / ($columns / 5)) * 1%;
}

/**
 * Stylers
 */

.card {
  // Display
  flex-direction: column;
  // Colors
  color: $text-dark;
  // Size
  padding: 32px;
  
  &.dark { background-color: $brand-dark; color: $text-light; }
  &.light { background-color: $brand-light; color: $text-dark; }
}

.top-spaced {
  margin-top: 25vh;
}