/**
 * Containers
 */
 
.full {
    min-height: 100%;
    min-width: 100%;
}
 
.box {
    
    &.dark {
        /* Colors */
        background-color: $grey-darkest;
        color: $text-white;
    }
}