i {
// =======================

  &.arrow-right {
    @include before-after;
    width: 16px;
    height: 2px;
    margin-top: 12px;

    &::before, &::after {
      width: 8px;
      height: 2px;
      top: -100%;
      right: -4px;
      transform: rotate(45deg);
    }

    &::after {
      top: 100%;
      transform: rotate(-45deg);
    }
  }
  
  &.arrow-down {
    $size: 24px;
    @include before-after;
    height: $size;
    width: $size / 8;
    
    &::before, &::after {
      height: $size / 2;
      width: $size / 8;
      bottom: ($size / 4) * -1;
      right: -100%;
      transform: rotate(45deg);
    }
    
    &::after {
      right: 100%;
      transform: rotate(-45deg);
    }
  }

// =======================
}
