i {

  &.color-normal {
    background-color: $text;
    &::before, &::after { background-color: $text; }
  }
  &.color-fade {
    background-color: $text-fade;
    &::before, &::after { background-color: $text-fade; }
  }
  &.color-less {
    background-color: $text-less;
    &::before, &::after { background-color: $text-less; }
  }

  &.color-white {
    background-color: $white;
    &::before, &::after { background-color: $white }
  }
  &.color-white-fade {
    background-color: $text-white-fade;
    &::before, &::after { background-color: $text-white-fade; }
  }
  &.color-white-less {
    background-color: $text-white-less;
    &::before, &::after { background-color: $text-white-less; }
  }


}
