/**
 * Text
 */

.text {
    /* Size */
    padding: 0px;
    margin: 0px;
    /* Font */
    font-family: $font-main;
    color: $text;
    text-align: left;
}

p {
    @extend .text;
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
    @extend .text;
    font-family: $font-accent;
    font-weight: 500;
    letter-spacing: 0.02em;
}

h1 { font-size: 3em; }
h2 { font-size: 2.8em; }
h3 { font-size: 2.25em; }
h4 { font-size: 1.75em; }
h5 { font-size: 1.5em; }
h6 { font-size: 1.25em; }

.text-fade {
    color: $text-fade;
}
.text-less {
    color: $text-less;
}
.text-white {
    color: $text-white;
}
.text-white-less {
    color: $text-white-less;
}
.text-white-fade {
    color: $text-white-fade;
}

a {
    color: inherit;
}
