@mixin before {
  position: relative;
  background-color: $black;

  &::before {
    content: '';
    position: absolute;
    background-color: $black;
  }
}

@mixin after {
  position: relative;
  background-color: $black;

  &::after {
    content: '';
    position: absolute;
    background-color: $black;
  }
}

@mixin before-after {
  @include before;
  @include after;
}

@mixin heavy-underline($color: $black) {
  position: relative;

  // TODO
  &::before {
    content: '';
    /* Position */
    position: absolute;
    top: 2.2ex;
    left: 0;
    /* Size */
    height: 4px;
    width: 100%;
    background-color: $color;
  }
}