@mixin heavy-underline {
  position: relative;

  // TODO
  &::before {
    content: '';
    /* Position */
    position: absolute;
    top: 2.2ex;
    left: 0;
    /* Size */
    height: 8px;
    width: 100%;
    background-color: black;
  }
}
