/**
 * Flex grid thing
 */

// Total columns
$columns: 12;

// A container
@mixin flex-container(
  $dir: row,
  $horiz: flex-start,
  $vert: flex-start,
  $gutter: 0px
){
  // Constants
  display: flex;
  flex-wrap: wrap;
  // Vars
  flex-direction: $dir;
  justify-content: $horiz;
  align-items: $vert;

  > * {
    margin: $gutter;
  }
}

@mixin flex-part(
  $horiz: 'auto',
  $vert: 'auto',
  $col: 'auto',
  $padding: 0px,
  $enforce-width: false
){
  justify-self: $horiz;
  align-self: $vert;
  padding: $padding;

  @if $col == 'auto' {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
  } @else {
    @if inRange(1, $columns, $col) {
      max-width: (100% / $columns) * $col;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: (100% / $columns) * $col;

      @if $enforce-width == true {
        width: (100% / $columns) * $col;
      }
    }
  }
}

@mixin jumbotron {
  justify-self: stretch;
  align-self: stretch;
}
