@mixin background(

) {
  background: linear-gradient(hsla(0%));
}

@mixin card(
  $theme: 'dark'
) {
  padding: 24px 12px 12px 12px;
  border-radius: 8px;

  @if $theme == 'dark' {
    background-color: $slate-dark;
    color: $text-white;
  } @else if $theme == 'light' {

  }
}
