// Neutral tones
$black:         #000;
$white:         #fff;
$grey-darkest:  lighten($black, 7%);
$grey-darker:   lighten($black, 20%);
$grey-dark:     lighten($black, 35%);
$grey:          lighten($black, 50%);
$grey-light:    lighten($black, 65%);
$grey-lighter:  lighten($black, 80%);
$grey-lightest: lighten($black, 95%);
$gray-darker:   $grey-darker;
$gray-dark:     $grey-dark;
$gray:          $grey;
$gray-light:    $grey-light;
$gray-lighter:  $grey-lighter;
$gray-lightest: $grey-lightest;

// Text
$text:          rgba(0,0,0,0.95);
$text-light:    rgba(0,0,0,0.85);
$text-lighter:  rgba(0,0,0,0.70);
$text-lightest: rgba(0,0,0,0.55);
$text-white:    rgba(255,255,255,0.95);

// Blue
$blue-dark: #003249;
$blue: #007ea7;
$blue-light: #80ced7;

// Cyan
$cyan-dark: #05668d;
$cyan: #028090;
$cyan-light: #00a896;

// Red
$red-dark: #420217;
