// Branding
$brand-main: #FF99AC;

$brand-light: #ffffff;
$brand-light-less: #ededed;
$brand-light-lesser: #e0e0e0;

$brand-dark: #212121;
$brand-dark-less: #303030;
$brand-dark-lesser: #5e5e5e;

// Text
$text-light: $brand-light;
$text-dark: $brand-dark;

// Etc
$red: #B50107;
$pine: #24A064;