@function map-get-next($map, $passed-key, $fallback: false) {
  $i: 0;
  $passed-key-index: false;
  
  @each $map-key, $map-value in $map {
    $i: $i + 1;
    
    @if $map-key == $passed-key {
      $passed-key-index: $i;
    }
    
    @if $i == $passed-key-index + 1 {
      @return $map-value;
    }
    
    @if $i == length($map) {
      @return $fallback;
    }
  }
  
  @return $fallback;
}