/**
 * Unit sizes/config
 */

// Iterate through the breakpoints,
// set the `rem` size to the rem-factor of the same breakpoint label
@each $key, $value in $breakpoints {
  $rem-factor: map-get($rem-factors, $key);

  @media only all and (min-width: $value) {
    html {
      font-size: (100vw / #{$rem-factor}); // Now use `rem` as your styling unit!
    }
  }
}

/**
 * Font-size fixes
 */

body {
  font-size: $base-font-size; // Reset the font size so `em` is normal: em;
}
