@import './modules/index.scss';
@import './vendor/index.scss';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: $brand-main;
  color: $brand-light;
  font-family: $font-accent;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
