@import './modules/index.scss';
@import './vendor/index.scss';
@import './elements/index.scss';

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;

  height: 100vh;
  width: 100vw;
}

body {
  background-color: $brand-main;
  color: $brand-light;
  font-family: $font-main;

  margin: 0;
  padding: 0;

  height: 100vh;
  width: 100%;
}