@import './modules/index.scss';
@import './vendor/index.scss';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: $brand-main;
  color: $brand-light;
  font-family: $font-accent;
}